* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 4px;
  text-align: center;
  background: #1abc9c;
  color: black;
}

.navbar {
  display: flex;
  background-color: #333;
  position: sticky;
  top: 0;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: orange;
  color: black;
}

.navbar a.active{
  background-color: plum;
  color: black;
}

.home {
  padding: 100px 10px;
  display: flex;
  background-color: DodgerBlue;
  justify-content: space-around;
}

.i {
  border-radius: 30%;
  flex: 25%;
  max-width: 25%;
}

@media (max-width: 500px) {
  .i {
    flex: 100%;
    max-width: 100%;
  }
}

.aboutme {
  padding: 100px 10px;
  background-color: DodgerBlue;
  font-weight: bold;
  line-height: 50px;
}

.contactme {
  padding: 100px 10px;
  background-color: DodgerBlue;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.contactme img {
  padding: 10px;
  width: 100px;
  border-radius: 50%;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 500px) {
  .home,
  .navbar {
    flex-direction: column;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 500px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
