@font-face {
  font-family: "HelveticaNeueRegular";
  src: url("../src/assets/fonts/HelveticaNeue-Regular.otf");

  font-family: "HelveticaNeueMedium";
  src: url("../src/assets/fonts/HelveticaNeueMedium.ttf");

  font-family: "HelveticaNeueBold";
  src: url("../src/assets/fonts/HelveticaNeueBold.ttf");
}
* {
  font-family: "HelveticaNeueRegular", "HelveticaNeueMedium",
    "HelveticaNeueBold", sans-serif;
  text-decoration: none;
}
body {
  text-decoration: none;
  margin: 0;
}

